name = "SMLMData"
uuid = "5488f106-40b8-4660-84c5-84a168990d1b"
authors = ["klidke@unm.edu"]
version = "0.6.0"

[deps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
MAT = "23992714-dd62-5051-b70f-ba57cb901cac"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
Adapt = "3, 4"
MAT = "0.10"
StaticArrays = "1"
julia = "1.9"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
